@{
    ViewBag.Title = "Clientes";
}
<h1 class="h3 mb-4 text-gray-800">Clientes</h1>
<p class="mb-4">Aquí podrá ver los clientes registrados</p>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="clientsTable" rel="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="50%">Nombre Cliente</th>
                        <th width="40%">DNI</th>
                        <th width="10%"> Acciones <a href="@Url.Action("Create", "Clients")"><i class="fas fa-plus-square"></i></a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Client client in ViewBag.clients)
                    {
                        <tr>
                            <td>@(client.name+" "+client.lastName)</td>
                            <td>@client.dni</td>
                            <td>
                                <a onclick="clients.delete(this,@client.id)"
                                   data-loading-text="<span class='spinner-grow spinner-grow-sm' role='status' aria-hidden='true'></span>">
                                    <i class="fas fa-trash-alt"></i>
                                </a>-
                                <a href="@Url.Action("Edit", "Clients",new { id=client.id})"
                                   data-loading-text="<span class='spinner-grow spinner-grow-sm' role='status' aria-hidden='true'></span>">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/views/clients/clients.js"></script>
}